#app {
  background: #282c34;

  margin-right: 5%;
  margin-left:5% ;
  width: 90%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



#title
{
  width: 100%;
}

#menu-radial-wrapper
{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  min-width: 400px;
}
#presentation-wrapper
{
  min-width: 400px;
  background: green;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.presentation-section
{
  width: 50%;
  padding: 10px;
  min-width: 200px;
}
#img
{
  width: 100%;
  height: 100%;
}
.image-presentation-wrapper
{
  text-align: center;
  padding: 10px;
  width: 50%;
  min-width: 300px;
}
#menu-radial-wrapper
{
  background: whitesmoke;
  display: flex;
  padding: 10px;
  min-height: 600px;
  justify-content: center;
}
#circle-wrapper
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



