body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu
{

  background: rgba(21, 32, 71, 0.75);
  display: flex;
  width: 100vw;
  padding: 10px;
  color: white;


}

.nav-button {
  text-align: center;
  width: 25%;
  list-style: none;
  padding: 10px;
  color: white; /* Texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Efecto de transición */
}



.title {
  text-align: center;
  width: 50%;
  font-size: 24px; /* Tamaño del texto del título */
  margin: 10px 0; /* Margen superior e inferior del título */
}

.nav-options {
  width: 50%;
  display: flex;
  justify-content: center;

}

.nav-options a,#language-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.52);
  padding: 10px;
  border-radius: 5px;

}

.nav-options a:hover,#language-button:hover {
  background-color: #393575;
  color: white;
}

#root
{
  width: 100%;
  height: 90%;
}
@media (max-width: 600px)
{
  .title
  {
    display: none;
  }
  .nav-options
  {
    width: 100%;
  }

}
body{
  background: url("/public/space.png") no-repeat center center fixed;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;

}
#contact-title
{
  font-size: 30px;
  color: white;
}
footer
{

    border-top:1px solid white;


margin-top: 5px;
  width: 100%;
  font-size: 20px;
  color: #d0c8c8;
}
footer a {
  color: white; /* Cambia el color a tu preferencia */
}

/* Estilos para los enlaces cuando están siendo visitados */
footer a:visited {
  color: whitesmoke; /* Cambia el color a tu preferencia para los enlaces visitados */
}

/* Estilos para los enlaces cuando están siendo activos (clicados) */
footer a:active {
  color: whitesmoke; /* Cambia el color a tu preferencia para los enlaces activos */
}
