body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu
{

  background: red;
  display: flex;
  width: 100vw;
  padding: 10px;

}

.nav-button
{
  text-align: center;
  width: 25%;
  list-style: none ;
}
.title
{
  text-align: center;
  width: 50%;
}
.nav-options
{
  width: 50%;
  display: flex;
  background: grey;

}
#root
{
  width: 100%;
  height: 100vh;
  background: blue;
}
@media (max-width: 600px)
{
  .title
  {
    display: none;
  }
  .nav-options
  {
    width: 100%;
  }
}